body {
    min-height: 101vh;
    font-family: 'Roboto', sans-serif;
}

.app-wrapper {
    margin: 0 auto;
    width: 1200px;

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    grid-template-areas: "h h h" "n c c"
}

.app-content-wrap {
    background-color: lightskyblue;
    grid-area: c;
}

.width100{
    width: 100%;
}

.p10{
    padding: 10px;
}

.pt20{
    padding-top: 20px;
}






