.dialogsWrap {
    display: flex;
}

.dialogsItems {
    flex: 1;
    padding: 5px;
}

.dialogsItems div {
    padding: 5px;
}

.messages {
    flex: 4;
    padding: 5px
}

.messages div {
    padding: 2px;
}

.link {
    color: #115f9a;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.activeLink {
    color: #e74343;
    transition: .15s;
}

.sendMessageForm {
    padding: 10px;
}
